# MySQL
MYSQL_ROOT_PASSWORD=changeme_root
MYSQL_DATABASE=redsteel
MYSQL_USER=redsteel_user
MYSQL_PASSWORD=changeme_user

# WordPress
WORDPRESS_DB_HOST=redsteel-db:3306
WORDPRESS_DB_USER=redsteel_user
WORDPRESS_DB_PASSWORD=changeme_user
WORDPRESS_DB_NAME=redsteel

# WP_HOME y WP_SITEURL deben apuntar al dominio público
WP_HOME=https://redsteel.com.ar
WP_SITEURL=https://redsteel.com.ar
